<%- model_class = Account.new.class -%>
<h1>Statistics</h1>

<table class="table table-striped">
  <thead>
	<tr>
		Inbox: <%= @inbox_count %>
	</tr>
	<tr>
		Read: <%= @read_count %>
	</tr>
	<tr>
		Unread: <%= @unread_count %>
	</tr>
    <tr>
      <th>Labels</th>
    </tr>
  </thead>
  <tbody>
    <% @account_labels.zip(@counts).each do |label,count| %>
    <% if !label.include? "[Gmail]" %>
      <tr>
        <td><%= label %></td>
				<td><%= count %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
